@tailwind base;
@tailwind components;

.navbar-linear-gradient {
  @apply border-b-8;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #19d938, #ff0545, #ff7d05);
}

.hr-primary-dark {
  height: 4px;
  background-color: #0e771f;
  border: 0;
}

.hr-primary {
  height: 4px;
  background-color: #19d938;
  border: 0;
}

.hr-primary-light {
  height: 4px;
  background-color: #96eda4;
  border: 0;
}

.hr-secondary-dark {
  height: 4px;
  background-color: #8c4503;
  border: 0;
}

.hr-secondary {
  height: 4px;
  background-color: #ff7d05;
  border: 0;
}

.hr-secondary-light {
  height: 4px;
  background-color: #ffb876;
  border: 0;
}

.hr-accent-light {
  height: 4px;
  background-color: #ff8daa;
  border: 0;
}

.hr-accent {
  height: 4px;
  background-color: #ff0545;
  border: 0;
}

.hr-accent-dark {
  height: 4px;
  background-color: #ba0433;
  border: 0;
}

.icon-transition:hover {
  @apply transition duration-500 ease-out transform scale-125;
}

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
